<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yieom.javastudy.contentprovidera">

    <permission android:name="yieom.javastudy.contentprovidera.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="yieom.javastudy.contentprovidera.WRITE_DATABASE" android:protectionLevel="normal" />

    <application>
        <provider android:name="yieom.javastudy.contentprovidera.myContentProvider"
            android:authorities="yieom.javastudy.contentprovidera.myContentProvider"
            android:exported="true"
            android:readPermission="yieom.javastudy.contentprovidera.READ_DATABASE"
            android:writePermission="yieom.javastudy.contentprovidera.WRITE_DATABASE"/>
    </application>

</manifest>